
.component{ 
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
  }
  .child-component{ 
    border: 1px solid rgb(10, 38, 216);
    border-radius: 5px;
    padding: 5px;
  }
  .par-div {
    display: grid;
  }
  .component-name {
    text-align: center;
    color: rgb(255, 0, 0);
    font-size: 12px;
    font-weight: bold;
    align-self: end;
    z-index: 100;
  }
  
  .extention-title {
    text-align: center;
    padding: 5px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    background-color: rgb(85, 6, 230);
  }